@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --color-primary: #255c99;
  --color-grey-light: #c5d5e7;
  --color-light: #fbfdff;
  --color-grey-dark: #29313a;
  --color-dark: #040b12;
  --color-danger: #993a25;

  /* utilities */
  --transition: all 0.2s ease-in-out;
  --max-width: 700px;
  --font-family: 'Inter', sans-serif;
  --border-radius: 4px;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  line-height: 1.5;
  font-size: 16px;
  font-family: var(--font-family);
}
